<div class="container">
  <p class="txt-cus-mng">Customer Management</p>
  <br>
  <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
  <br>
  <div class="row">
    <div class="col-12 col-md-6">
      <div class="form-group">
        <label for="cusId">Customer ID</label>
        <input [value]="selectedCustomer?.customerId" [(ngModel)]="txtCusId" type="text" class="form-control" id="cusId"
               aria-describedby="emailHelp">
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="form-group">
        <label for="cusName">Customer Name</label>
        <input [value]="selectedCustomer?.customerName" [(ngModel)]="txtCusName" type="text" class="form-control"
               id="cusName" aria-describedby="emailHelp">
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="form-group">
        <label for="cusAddress">Customer Address</label>
        <input [value]="selectedCustomer?.customerAddress" [(ngModel)]="txtCusAddress" type="text" class="form-control"
               id="cusAddress"
               aria-describedby="emailHelp">
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="form-group">
        <label for="cusSalary">Customer Salary</label>
        <input [value]="selectedCustomer?.customerSalary" [(ngModel)]="txtCusSalary" type="number" class="form-control"
               id="cusSalary"
               aria-describedby="emailHelp">
      </div>
    </div>
  </div>
  <p align="right">
    <button (click)="saveCustomer()" mat-raised-button color="primary">Primary</button>
    <button mat-raised-button color="accent">Accent</button>
  </p>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Index</th>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Address</th>
      <th scope="col">Salary</th>
      <th scope="col">Operate</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let tempCustomer of myDataSet; index as num">
      <th scope="row">{{(num + 1)}}</th>
      <td>{{tempCustomer.customerId}}</td>
      <td>{{tempCustomer.customerName}}</td>
      <td>{{tempCustomer.customerAddress}}</td>
      <td>{{tempCustomer.customerSalary}}</td>
      <td>
        <button mat-raised-button color="warn" (click)="deleteCustomer(tempCustomer.customerId)">Delete Customer
        </button>
      </td>
      <td>
        <button mat-raised-button color="default" (click)="selectCustomer(tempCustomer)">Select</button>
      </td>
    </tr>
    </tbody>
  </table>
  <hr>
  <mat-paginator [length]="resultCount"
                 [pageSize]="pageSize"
                 [pageSizeOptions]="pageSizeOption"
                 (page)="getServerData($event)">
  </mat-paginator>

  <!--                 (page)="pageEvent = getServerData($event)">-->
</div>
