<div class="dashboard-header">
  <div class="ham-burger-button-outer" (click)="hideSlider()">
    <div class="inner-row"></div>
    <div class="inner-row" style="width: 50%"></div>
    <div class="inner-row"></div>
  </div>


  <p>Welcome to IJSE | Hi "{{userName}}"!</p>
</div>

<div class="slider-wrap" *ngIf="sliderVisibleState" [@53_ani]>
  <ul>
    <li routerLink="/dashboard" (click)="hideSlider()">Home</li>
    <li routerLink="/dashboard/manage-customer" (click)="hideSlider()">Customer</li>
    <li routerLink="/all-item" (click)="hideSlider()">Items</li>
    <li routerLink="/order-details" (click)="hideSlider()">Orders</li>
    <li routerLink="/place-order" (click)="hideSlider()">Make Order</li>
    <li>Activities</li>
    <li>Advertisement</li>
    <li (click)="signOut()">Sign Out</li>
  </ul>
</div>

<div style="height: 100vh">
  <router-outlet></router-outlet>
</div>
